Presentation_WebAPI/Service References/TodoItemServiceReference/TodoItemService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTodoItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TodoItemDTO" nillable="true" type="tns:TodoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodoItemDTO" nillable="true" type="tns:ArrayOfTodoItemDTO" />
  <xs:complexType name="TodoItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TodoItemDTO" nillable="true" type="tns:TodoItemDTO" />
  <xs:complexType name="ContainerDTOOfTodoItemDTOKmbgGhhj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ContainerDTOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TodoItemDTO" Namespace="http://schemas.datacontract.org/2004/07/Common" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="list" nillable="true" type="tns:ArrayOfTodoItemDTO" />
      <xs:element minOccurs="0" name="total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContainerDTOOfTodoItemDTOKmbgGhhj" nillable="true" type="tns:ContainerDTOOfTodoItemDTOKmbgGhhj" />
</xs:schema>